<div id="<%= dom_id bank_branch %>">
  <p>
    <strong>Ifsc:</strong>
    <%= bank_branch.ifsc %>
  </p>

  <p>
    <strong>Branchname:</strong>
    <%= bank_branch.branchname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank_branch.address %>
  </p>

</div>
