<h1>Editing bank branch</h1>

<%= render "form", bank_branch: @bank_branch %>

<br>

<div>
  <%= link_to "Show this bank branch", @bank_branch %> |
  <%= link_to "Back to bank branches", bank_branches_path %>
</div>
